// colors
$white: #ffffff;
$black: #000000;
$grey-100: #e7e6eb;
$grey-200: #e8e6eb;
$grey-250: #a5a1b5;
$grey-300: #88829b;
$grey-400: #6a6a6a;
$grey-500: #474752;
$lightblue-100: #5ab7e3;
$lightblue-200: #318fbb;
$pink-100: #baaeec;
$pink-200: #bfabff;
$red: #ff0000;
